<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztgeo.general.mapper.chenbin.EntryPositManagerMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ztgeo.general.entity.service_data.pub_data.SJ_Power_Fjtm_Position" id="SJ_Power_Fjtm_PositionMap"></resultMap>

    <delete id="deleteByParam">
        delete from sj_power_fjtm_position
        <where>
            <if test="positId!=null and positId!=''">
                and position_id = #{positId}
            </if>
            <if test="entryId!=null and entryId!=''">
                and entry_id = #{entryId}
            </if>
            or 1=0
        </where>
    </delete>
    <select id="selectCountOfEntryPositSame" parameterType="com.ztgeo.general.entity.service_data.pub_data.SJ_Power_Fjtm_Position" resultType="int">
        select count(*) from sj_power_fjtm_position where entry_id=#{entryId} and position_id=#{positionId}
    </select>
</mapper>
