<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztgeo.general.mapper.TestMapper">
    <resultMap id="aa" type="com.ztgeo.general.entity.service_data.pub_data.SJ_Qlr_Gl"></resultMap>
    <select id="selectTest" parameterType="java.lang.String" resultMap="aa">
        select * from sj_qlr_gl where info_id = #{infoId}
    </select>
</mapper>
